# {{ ansible_managed }}

# Where to store the data.
# Note: if you run mongodb as a non-root user (recommended) you may
# need to create and set permissions for this directory manually,
# e.g., if the parent directory isn't mutable by the mongodb user.
dbpath = {{ mongodb_conf.dbpath }}

# Where to log.
logpath = {{ mongodb_conf.logpath }}
logappend = {{ mongodb_conf.logappend | to_nice_json }}

port = {{ mongodb_conf.port }}

# Listen to selected ip only. Comment out to listen on all interfaces.
bind_ip = {{ mongodb_conf.bind_ip }}

# Turn on/off security.
auth = {{ mongodb_conf.auth | to_nice_json }}

# Enables periodic logging of CPU utilization and I/O wait.
cpu = {{ mongodb_conf.cpu | to_nice_json }}

# Disables write-ahead journaling.
nojournal = {{ mongodb_conf.nojournal | to_nice_json }}

# Inspect all client data for validity on receipt (useful for
# developing drivers).
objcheck = {{ mongodb_conf.objcheck | to_nice_json }}

# Turns off server-side scripting.  This will result in greatly limited
# functionality.
noscripting = {{ mongodb_conf.noscripting | to_nice_json }}

# Turns off table scans.  Any query that would do a table scan fails.
notablescan = {{ mongodb_conf.notablescan | to_nice_json }}

# Other custom settings.
{% for key, value in mongodb_conf.items() %}
{% if key not in mongodb_conf_default %}
{{ key }} = {% if value is boolean %}{{ value | to_nice_json }}{% else %}{{ value }}{% endif %}
{% endif %}
{% endfor %}
